<div class="hero-image ">
  <div class="hero-text">
      <h1 style="font-size:50px" class="wow slideInLeft">Come Join the FUN !!!</h1>
      <p class="wow slideInRight">We are the ones Who can make it happen</p>
      <a class="btn wow slideInUp" href="#">Know More</a>
  </div>
</div>
<div class="cardmain ">
  <div class="container">
      <h2 class="sectionHead wow slideInLeft"><span class="headtext">Letest Events</span></h2>
      <div class="row wow slideInRight">
          <div class="col-md-4 col-sm-12" *ngFor="let eventDatas of eventData;index as i;">
              <div class="text-center cardImgMain cardImgMain2">
                  <!-- <img src="http://127.0.0.1:9000/event_images/{{(eventDatas.event_image)}}" class="img cardImg" /> -->
              </div>
              <h4 class="cardTitle">
                  <mat-card-title>{{eventDatas.event_name}}</mat-card-title><br>
                  <mat-card-subtitle>{{eventDatas.event_name}}</mat-card-subtitle>
              </h4>
              <p class="cardDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p><strong>Start Date : </strong>&nbsp;&nbsp;&nbsp;{{eventDatas.event_start_date}}</p>
              <p><strong>End Date : </strong>&nbsp;&nbsp;&nbsp;{{eventDatas.event_end_date}}</p>
              <button mat-raised-button [routerLink]="['/view-event/',eventDatas.event_name,eventDatas.sr_id]" color="accent">More.......</button>
          </div>
      </div>
  </div>
</div>
<div class="testimonials wow bounceInUp">
  <div class="container">
      <div class="contentmain text-center">
          <div class="text-center testiImgMain">
              <img src="assets/img/quotes.svg" class="img testiImg" />
          </div>
          <blockquote class="blktext">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua."
          </blockquote>
          <p class="auother"><i>by: Test Authers</i></p>
      </div>
  </div>
</div>
<div class="About">
  <div class="container">
      <div class="aboutcontentmain">
          <div class="row d-flex">
            <div class="col-md-6 col-sm-12 m-auto wow slideInLeft">
              <div class="abImgmain1 cardImgMain">
              </div>
          </div>
              <div class="col-md-6 col-sm-12 m-auto wow slideInRight">
                  <div class="Abconmain">
                      <h4 class="abhead">Hot Event</h4>
                      <h2 class="abMainhead">New Event in the town.</h2>
                      <p class="abdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="text-center">
                          <a href="#" class="btn findmorebnt"> Find out More Details</a>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>