<section class="event-table">
    <div class="container">
        <h2>Events History</h2>
        <div class="table-div">
            <table *ngIf="history" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Event Id</th>
                    <th>Event Name</th>
                    <th>Payment Status</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of history;index as i">
                    <td>{{i+1}}</td>
                    <td>{{history.event_id}}</td>
                    <td>{{history.event_name}}</td>
                    <td>{{history.payment_status}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>
