
.login-div{
    border: 1px solid silver;
    width: 35%;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login-div mat-form-field {
    width: 100%;
}
h2{
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid #ff4081;
    padding: 10px;
}
button{
    margin-right: 10px;
    margin-left: 10px;
}
.btn-div{
    text-align: center;
}
.alert-danger,.alert-success{
    display: none;
}
mat-form-field{
    margin: 5px 5px 5px 5px;
}

.alert{
    margin-bottom: 20px;
    margin-top: 20px;
}
a{
    float: right;
}
label#mat-mdc-form-field-label-0 {
    top: 15px !important;
}