<div class="pageStart">
<section class="event-form-block">
    <div class="container">
        <div class="mask-div1">
            <div class="form-block1">
                <h2>Add Event Details</h2>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="email" class="form-label">Event Name:</label>
                        <input type="text" class="form-control" id="event_name" placeholder="Enter event name" name="event_name" [(ngModel)]="event_name">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Registration Fees:</label>
                        <input type="text" class="form-control" id="registerFees" placeholder="Enter Registration fees" name="registerFees" [(ngModel)]="registerFees">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Registration Date Start:</label>
                        <input type="date" class="form-control" id="registerStartDate" placeholder="start registration date" name="registerStartDate" [(ngModel)]="registerStartDate">
                    </div>
                    <br>
                    </div>
                    <div class="row form-group">
                    <div class="col-md-4">
                        <label for="email" class="form-label">Registration Date End:</label>
                        <input type="date" class="form-control" id="registerEndDate" placeholder="start registration end" name="registerEndDate" [(ngModel)]="registerEndDate">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Event Date Start:</label>
                        <input type="date" class="form-control" id="eventStartDate" placeholder="event date start" name="eventStartDate" [(ngModel)]="eventStartDate">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Event Date End:</label>
                        <input type="date" class="form-control" id="eventEndDate" placeholder="event date end" name="eventEndDate" [(ngModel)]="eventEndDate">
                        <!-- <input type="time" class="form-control" name="" id=""> -->
                    </div>
                    <br>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="email" class="form-label">1st Prize:</label>
                        <input type="text" class="form-control" id="first_prize" placeholder="1st prize" name="first_prize" [(ngModel)]="first_prize">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">1st Prize Image:</label>
                        <input type="file" class="form-control" id="first_prize_image" (change)="fileUpload1($event)" placeholder="1st prize image" name="first_prize_image" >
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">2nd Prize:</label>
                        <input type="text" class="form-control" id="second_prize" placeholder="2nd prize" name="second_prize" [(ngModel)]="second_prize">
                    </div>
                    <br>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="email" class="form-label">2nd Prize Image:</label>
                        <input type="file" class="form-control" id="second_prize_image" (change)="fileUpload2($event)" placeholder="2nd Prize Image" name="second_prize_image" >
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">3rd Prize:</label>
                        <input type="text" class="form-control" id="third_prize" placeholder="3rd prize" name="third_prize" [(ngModel)]="third_prize">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">3rd Prize Image:</label>
                        <input type="file" class="form-control" id="third_prize_image" (change)="fileUpload3($event)" placeholder="3rd Prize Image" name="third_prize_image">
                    </div>
                    <br>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="" class="label">Banner Image</label>
                        <input type="file" id="photo" name="photo" (change)="fileUpload($event)" class="form-control" >
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Event Details:</label>
                        <textarea type="text" class="form-control" row="1" id="eventDetails" placeholder="event details...." name="eventDetails" [(ngModel)]="eventDetails"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button mat-raised-button (click)="postOrganizedEvent()" color="primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button mat-raised-button >Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- {{eventData |json}} -->
<section class="event-table">
    <div class="container">
        <div class="table-div">
            <table *ngIf="eventData" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Event Name</th>
                    <th>Registration Start Date</th>
                    <th>Registration End Date</th>
                    <th>Event Start Date</th>
                    <th>Event End Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let eventData of eventData;index as i">
                    <td>{{i+1}}</td>
                    <td>{{eventData.event_name}}</td>
                    <td>{{eventData.register_start_date}}</td>
                    <td>{{eventData.register_end_date}}</td>
                    <td>{{eventData.event_start_date}}</td>
                    <td>{{eventData.event_end_date}}</td>
                    <td class="action">
                        <button type="button" class="btn btn-success">view</button>
                        <button type="button" class="btn btn-primary">edit</button>
                        <button type="button" id = "{{eventData.sr_id}}" (click)="delete($event)"class="btn btn-danger">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>
</div>